<ion-card-header class="ion-text-center header-card">
  <ion-card-title>
    Ingresa con    
  </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-button expand="block" shape="round" class="noShadow fbButton">
    <div class="d-flex buttons">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>
        Continuar con facebook
      </ion-label>
    </div>
  </ion-button>
  <ion-button (click)="loginWith('google')" expand="block" fill="outline" shape="round" class="noShadow googleBtn">
    <div class="d-flex buttons">
      <ion-icon src="assets/icons/googleIcon.svg"></ion-icon>
      <ion-label >
        Continuar con Google
      </ion-label>
    </div>
  </ion-button>
  <ion-button expand="block" fill="outline" shape="round" class="noShadow mfButton">
    <div class="d-flex buttons">
      <ion-icon src="assets/icons/microsoft.svg"></ion-icon>
      <ion-label >
        Continuar con Microsoft
      </ion-label>
    </div>
  </ion-button>
  <ion-button (click)="loginWith('email')" expand="block" shape="round" class="noShadow mfButton initial">
    <div class="d-flex">
      <ion-label>
        Continuar con Email
      </ion-label>
    </div>
  </ion-button>
</ion-card-content>