<app-centered-header
  [name]="'Favoritos'"
></app-centered-header>

<ion-content [fullscreen]="true">

  <ion-grid 
    fixed
    [ngClass]="{'max-hg': !favoriteSv.favorites.length}"
  >
    <ion-row 
      class="row-favorite"
      [ngClass]="
      {
        'max-hg': !favoriteSv.favorites.length
      }">
      <ion-col class="ion-text-center" size="12" [hidden]="favoriteSv.favorites.length">
        <ion-label class="label-empty">
          No tienes productos agregados a favoritos.
        </ion-label>
      </ion-col>
      <ion-col size="12" 
        *ngFor="let favorite of favoriteSv.favorites"
      >
        <app-favorite-card
          [data]="favorite"
        ></app-favorite-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
