<ion-header class="ion-no-border header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="menu" menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-item (click)="changeLocation()" lines="none" color="primary">
      <ion-icon class="icon-location" slot="start" name="chevron-down-outline"></ion-icon>
      <ion-label class="label-location">
        {{ locationSv?.location?.country?.name }}, 
        {{ locationSv?.location?.state?.name }}, 
        {{ locationSv?.location?.city?.name }}
      </ion-label>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="megaphone-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>