<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item color="primary" lines="none" class="transparent">
      <ion-label>Configuración de la cuenta</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-user-form></app-user-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
