<ion-content>
  <app-app-header></app-app-header>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="storeFront">
          <img [src]="image" class="imgFront">
          <ion-label text-wrap class="infoStore max-wd">
            <h2>Pizzas Antonio</h2>
            <p>
              San Cristobal - Pueblo nuevo 
              <span class="ion-float-right calification">
                4.7
                <ion-icon color="primary" name="star"></ion-icon>
              </span>
            </p>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="12">
        <app-business-product-section
          [sectionName]="'Los mas vendidos'"
        ></app-business-product-section>
      </ion-col>
      <ion-col size="12">
        <app-business-product-section
          [sectionName]="'Promociones'"
        ></app-business-product-section>
      </ion-col>
      <ion-col size="12" class="container-products">
        <h4 class="ion-padding-start section-title">Todos los productos</h4>
        <div *ngFor="let a of products; let i = index">
          <app-product-card
            [id]="i"
            [storeId]="storeId"
          ></app-product-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
