
<ion-content>

  <ion-grid fixed class="ion-no-padding">
    <ion-row *ngIf="business">
      <ion-col size="12" class="col-store-front">
        <div class="backBtn">
          <ion-buttons class="btn">
            <ion-back-button mode="md" defaultHref="/tabs/home"></ion-back-button>
          </ion-buttons>
       
        </div>
        <div class="storeFront">
          <img [src]="business.imgUrlMain" class="imgFront">
          <ion-thumbnail class="thumb-store">
            <img [src]="business.imgUrlMain" />
          </ion-thumbnail>
        </div>
        <div class="info-store">
          <ion-label text-wrap class="infoStore">
            <h2 class="boldText infoStore_name"> {{ business.full_name }} </h2>
            <p class="calification">
              <ion-icon class="icon-star" name="star"></ion-icon> 4.7
            </p>
          </ion-label>
        </div>
      </ion-col>

      <ion-col size="12" class="container-products">
        <h4 class="ion-padding-start section-title">Todos los productos</h4>
        <div 
          *ngFor="let product of products; let i = index"
        >
          <app-product-card
            [product]="product"
            [business]="business"
          ></app-product-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
