<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" menuId="main" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Bienvenido</ion-list-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="defaultImg" />
            </ion-avatar>
            <ion-label>
              <h2> {{ loginSv.user?.nombres }} </h2>
              <p> {{ loginSv.user?.email }} </p>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item 
              routerDirection="root" 
              [routerLink]="[p.url]" 
              lines="none" 
              detail="false" 
              routerLinkActive="selected"
              (click)="verifyUrl(p.url)"
            >
              <ion-icon 
                slot="start" 
                [ios]="p.icon + '-outline'" 
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
