<ion-item 
  lines="none" 
  class="favorite-product"
>
  <ion-thumbnail slot="start" class="favorite-product-img">
    <img [src]="image" />
  </ion-thumbnail>
  <ion-label>
    <h2>Hamburguesa de la mas buena</h2>
    <p class="calification"> 4.6 <ion-icon color="primary" name="star"></ion-icon> </p>
  </ion-label>
  <ion-buttons class="ion-no-margin" slot="end">
    <ion-button data-favorite="true" (click)="addToFavorite()">
      <ion-icon 
        class="favorite-icon" 
        slot="icon-only"
        color="primary"
        [name]="favoriteIcon"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>