<ion-card class="product" (click)="openProduct($event)">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="4">
        <img class="img-product" [src]="product.imgUrl" alt="">
      </ion-col>
      <ion-col size="8" class="col-info">
        <ion-item class="col-info_item" lines="none">
          <ion-label class="product_name">
            {{ product.nombre }}
          </ion-label>
          <ion-buttons class="ion-no-margin" slot="end">
            <ion-button data-favorite="true" (click)="addToFavorite()">
              <ion-icon 
                class="favorite-icon" 
                slot="icon-only" 
                [name]="favoriteIcon"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-card-content class="product_description">
          {{ product.descripcion | slice:0:56}}
          <ion-note *ngIf="product.descripcion.length > 56">...</ion-note>
        </ion-card-content>
        
        <ion-item button="false" class="product_data" lines="none">
          <ion-label class="price">
            ${{ product.price }}
          </ion-label>
          <ion-label class="calification" slot="end">
            {{ product.rating }}
            <ion-icon slot="end" name="star" color="primary"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>