.favorite-card{
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  .favorite-header-icon-business, .favorite-product-img{
    border-radius: .5rem;
    overflow: hidden;
  }
  .favorite-header{
    border-bottom: 1px solid #ccc;
    padding: .5rem .75rem;
    
    .favorite-header-name{
      font-size: 1.3rem;
      padding-left: 1rem;
      font-weight: bold;
    }

    .remove-btn{
      --background: var(--ion-color-primary);
      color: #fff;
    }
  }
  .favorite-product{
    .calification{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .list-products{
    padding-top: 0;
    .total{
      font-size: 1.2rem;
    }
  }
}
